In [2]:
from sklearn import datasets
import pandas as pd
import random
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler,MinMaxScaler,LabelEncoder
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

In [3]:
datasets

In [3]:
a = datasets.load_wine()
df = pd.DataFrame()

In [4]:
a.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names'])

In [5]:
df[a['feature_names']] = a['data']

In [6]:
df['target'] = a['target']

In [6]:
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

In [24]:
# Use dir() to get all attributes of the sklearn.datasets module
dataset_functions = dir(datasets)

# Filter functions that start with "load_" or "fetch_"
dataset_functions = [f for f in dataset_functions if f.startswith("load_") or f.startswith("fetch_")]

# Display the filtered dataset functions
print("Available Datasets in sklearn.datasets:")
for func in dataset_functions:
    print(f"{func}()")

Available Datasets in sklearn.datasets:
fetch_20newsgroups()
fetch_20newsgroups_vectorized()
fetch_california_housing()
fetch_covtype()
fetch_kddcup99()
fetch_lfw_pairs()
fetch_lfw_people()
fetch_olivetti_faces()
fetch_openml()
fetch_rcv1()
fetch_species_distributions()
load_breast_cancer()
load_diabetes()
load_digits()
load_files()
load_iris()
load_linnerud()
load_sample_image()
load_sample_images()
load_svmlight_file()
load_svmlight_files()
load_wine()

In [3]:
data = datasets.load_diabetes()
df = pd.DataFrame()

In [4]:
data.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

In [5]:
#extract independent variables
df[data['feature_names']] = data['data']
#extract dependent variables
df['target'] = data['target']

In [6]:
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,57.0

In [24]:
from random import randint,choice

In [14]:
random.randrange(0, 100, 1)

63

In [17]:
random.sample(1,1)

TypeError: Population must be a sequence.  For dicts or sets, use sorted(d).

In [18]:
def generate_random_numbers(min_value, max_value, length):
    return [randint(min_value, max_value) for _ in range(length)]

In [22]:

df = pd.DataFrame()
df['col1'] = pd.DataFrame(generate_random_numbers(0,100,20))

In [23]:
df

    col1
0     14
1     43
2     82
3     20
4     19
5     76
6     88
7     16
8     72
9     73
10     9
11    84
12     2
13    52
14    64
15    73
16    21
17    51
18    56
19    16

In [26]:
def generate_random_classes(length,class_length):
    #generate randomly distributed classes based on the row count
    strings = [f'class_{_}' for _ in range(class_length)]
    return [choice(strings) for _ in range(length)]

In [27]:
generate_random_classes(100,3)

['class_2',
 'class_2',
 'class_2',
 'class_0',
 'class_1',
 'class_1',
 'class_0',
 'class_0',
 'class_1',
 'class_0',
 'class_2',
 'class_0',
 'class_1',
 'class_0',
 'class_2',
 'class_0',
 'class_1',
 'class_0',
 'class_1',
 'class_0',
 'class_0',
 'class_2',
 'class_2',
 'class_2',
 'class_1',
 'class_0',
 'class_0',
 'class_2',
 'class_1',
 'class_2',
 'class_1',
 'class_1',
 'class_1',
 'class_1',
 'class_0',
 'class_1',
 'class_0',
 'class_0',
 'class_2',
 'class_0',
 'class_1',
 'class_1',
 'class_1',
 'class_1',
 'class_0',
 'class_2',
 'class_2',
 'class_2',
 'class_1',
 'class_0',
 'class_1',
 'class_0',
 'class_1',
 'class_0',
 'class_2',
 'class_0',
 'class_1',
 'class_0',
 'class_1',
 'class_1',
 'class_1',
 'class_2',
 'class_0',
 'class_1',
 'class_0',
 'class_0',
 'class_0',
 'class_2',
 'class_2',
 'class_2',
 'class_2',
 'class_0',
 'class_1',
 'class_2',
 'class_1',
 'class_1',
 'class_1',
 'class_0',
 'class_0',
 'class_2',
 'class_2',
 'class_2',
 'class_1',
 'class_0',
 'class_1',
 'class_2',
 'class_1',
 'class_2',
 'class_1',
 'class_0',
 'class_2',
 'class_1',
 'class_1',
 'class_2',
 'class_0',
 'class_2',
 'class_0',
 'class_1',
 'class_0',
 'class_2']

In [7]:
import streamlit as st
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.decomposition import PCA

In [9]:
df.dtypes

age       float64
sex       float64
bmi       float64
bp        float64
s1        float64
s2        float64
s3        float64
s4        float64
s5        float64
s6        float64
target    float64
dtype: object

In [1]:
for c in df.loc[:, ~df.columns.isin(['target'])].columns:
    print(df[df[c].isna()][c])

NameError: name 'df' is not defined

In [9]:
df.columns

Index(['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium',
       'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline', 'target'],
      dtype='object')

In [15]:
dep_var = 'target'
x = df[df.columns[~dep_var]].values
y = df[dep_var].values

TypeError: bad operand type for unary ~: 'str'

In [27]:
df[[c for c in df.columns if c not in [dep_var]]]

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [67]:
random.choices([1,2,3,4,5],k=20)

[4, 4, 5, 2, 3, 4, 2, 3, 4, 5, 1, 3, 2, 3, 5, 3, 2, 3, 4, 2]

In [140]:
# float_col = random.choices([1.,2.,3.,np.nan],k=20)
# char_col = random.choices(['A','B','C',np.nan],k=20)
# num_col = random.choices([1,2,3,4],k=20)
float_col = random.choices([1.,2.,3.,1000],k=200)
num_col = random.choices([1,2,3,4000],k=200)

In [147]:
n = 10
df = pd.DataFrame({f'col-{c}':random.choice([num_col,float_col]) for c in range(0,n)})

In [148]:
df.dtypes

col-0    float64
col-1      int64
col-2      int64
col-3      int64
col-4      int64
col-5    float64
col-6      int64
col-7    float64
col-8      int64
col-9    float64
dtype: object

In [149]:
df

      col-0  col-1  col-2  col-3  col-4   col-5  col-6   col-7  col-8   col-9
0       1.0      1      1      1      1     1.0      1     1.0      1     1.0
1       3.0      3      3      3      3     3.0      3     3.0      3     3.0
2       3.0      1      1      1      1     3.0      1     3.0      1     3.0
3       3.0      3      3      3      3     3.0      3     3.0      3     3.0
4       2.0      1      1      1      1     2.0      1     2.0      1     2.0
..      ...    ...    ...    ...    ...     ...    ...     ...    ...     ...
195     3.0      1      1      1      1     3.0      1     3.0      1     3.0
196     2.0      2      2      2      2     2.0      2     2.0      2     2.0
197  1000.0      2      2      2      2  1000.0      2  1000.0      2  1000.0
198     3.0      1      1      1      1     3.0      1     3.0      1     3.0
199     2.0      2      2      2      2     2.0      2     2.0      2     2.0

[200 rows x 10 columns]

In [151]:
for c in df.columns:
    print(df[c].dtypes)
    q1 = np.percentile(df[c], 25, method='midpoint')
    q3 = np.percentile(df[c], 75, method='midpoint')
    iqr = q3 - q1
    upper = q3+1.5*iqr
    lower = q1-1.5*iqr
    print(df[df[c] >= upper])
    print(df[df[c] <= lower])
    df.loc[(df[c] >= upper) | (df[c] <= lower),c] = np.mean(df.loc[(df[c] < upper) & (df[c] > lower),c])
    # df.loc[df[c] <= lower,c] = np.mean(df.loc[df[c] <= lower,c])

float64
      col-0  col-1  col-2  col-3  col-4   col-5  col-6   col-7  col-8   col-9
5    1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
13   1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
19   1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
20   1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
21   1000.0      2      2      2      2  1000.0      2  1000.0      2  1000.0
23   1000.0      2      2      2      2  1000.0      2  1000.0      2  1000.0
26   1000.0      2      2      2      2  1000.0      2  1000.0      2  1000.0
29   1000.0      3      3      3      3  1000.0      3  1000.0      3  1000.0
32   1000.0      2      2      2      2  1000.0      2  1000.0      2  1000.0
39   1000.0      1      1      1      1  1000.0      1  1000.0      1  1000.0
50   1000.0      2      2      2      2  1000.0      2  1000.0      2  1000.0
52   1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
54   1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
56   1000.0      2      2      2      2  1000.0      2  1000.0      2  1000.0
60   1000.0      1      1      1      1  1000.0      1  1000.0      1  1000.0
72   1000.0      1      1      1      1  1000.0      1  1000.0      1  1000.0
74   1000.0      1      1      1      1  1000.0      1  1000.0      1  1000.0
76   1000.0      2      2      2      2  1000.0      2  1000.0      2  1000.0
77   1000.0      1      1      1      1  1000.0      1  1000.0      1  1000.0
79   1000.0      3      3      3      3  1000.0      3  1000.0      3  1000.0
81   1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
82   1000.0      3      3      3      3  1000.0      3  1000.0      3  1000.0
88   1000.0      1      1      1      1  1000.0      1  1000.0      1  1000.0
92   1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
97   1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
108  1000.0      1      1      1      1  1000.0      1  1000.0      1  1000.0
109  1000.0      3      3      3      3  1000.0      3  1000.0      3  1000.0
110  1000.0      2      2      2      2  1000.0      2  1000.0      2  1000.0
111  1000.0      3      3      3      3  1000.0      3  1000.0      3  1000.0
113  1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
125  1000.0      1      1      1      1  1000.0      1  1000.0      1  1000.0
127  1000.0      2      2      2      2  1000.0      2  1000.0      2  1000.0
128  1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
130  1000.0      3      3      3      3  1000.0      3  1000.0      3  1000.0
131  1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
137  1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
146  1000.0      2      2      2      2  1000.0      2  1000.0      2  1000.0
150  1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
153  1000.0      1      1      1      1  1000.0      1  1000.0      1  1000.0
161  1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
163  1000.0      2      2      2      2  1000.0      2  1000.0      2  1000.0
175  1000.0      1      1      1      1  1000.0      1  1000.0      1  1000.0
177  1000.0      2      2      2      2  1000.0      2  1000.0      2  1000.0
180  1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
183  1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
189  1000.0      3      3      3      3  1000.0      3  1000.0      3  1000.0
190  1000.0   4000   4000   4000   4000  1000.0   4000  1000.0   4000  1000.0
192  1000.0      2      2      2      2  1000.0      2  1000.0      2  1000.0
197  1000.0      2      2      2      2  1000.0      2  1000.0      2  1000.0
Empty DataFrame
Columns: [col-0, col-1, col-2, col-3, col-4, col-5, col-6, col-7, col-8, col-9]
Index: []
int64
Empty DataFrame
Columns: [col-0, col-1, col-2, col-3, col-4, col-5, col-6, col-7, col-8, col-9]
Index: []
Empty DataFrame
Columns: [col-0, col-1, col-2, col-3, col-4, col-5, col-6, col-7, col-8, col-9]
Index: []
int64
Empty DataFrame
Columns: [col-0, col-1, col-2, col-3, col-4, col-5, col-6, col-7, col-8, col-9]
Index: []
Empty DataFrame
Columns: [col-0, col-1, col-2, col-3, col-4, col-5, col-6, col-7, col-8, col-9]
Index: []
int64
Empty DataFrame
Columns: [col-0, col-1, col-2, col-3, col-4, col-5, col-6, col-7, col-8, col-9]
Index: []
Empty DataFrame
Columns: [col-0, col-1, col-2, col-3, col-4, col-5, col-6, col-7, col-8, col-9]
Index: []
int64
Empty DataFrame
Columns: [col-0, col-1, col-2, col-3, col-4, col-5, col-6, col-7, col-8, col-9]
Index: []
Empty DataFrame
Columns: [col-0, col-1, col-2, col-3, col-4, col-5, col-6, col-7, col-8, col-9]
Index: []
float64
        col-0   col-1   col-2   col-3   col-4   col-5  col-6   col-7  col-8  \
5    2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
13   2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
19   2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
20   2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
21   2.033113     2.0     2.0     2.0     2.0  1000.0      2  1000.0      2
23   2.033113     2.0     2.0     2.0     2.0  1000.0      2  1000.0      2
26   2.033113     2.0     2.0     2.0     2.0  1000.0      2  1000.0      2
29   2.033113     3.0     3.0     3.0     3.0  1000.0      3  1000.0      3
32   2.033113     2.0     2.0     2.0     2.0  1000.0      2  1000.0      2
39   2.033113     1.0     1.0     1.0     1.0  1000.0      1  1000.0      1
50   2.033113     2.0     2.0     2.0     2.0  1000.0      2  1000.0      2
52   2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
54   2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
56   2.033113     2.0     2.0     2.0     2.0  1000.0      2  1000.0      2
60   2.033113     1.0     1.0     1.0     1.0  1000.0      1  1000.0      1
72   2.033113     1.0     1.0     1.0     1.0  1000.0      1  1000.0      1
74   2.033113     1.0     1.0     1.0     1.0  1000.0      1  1000.0      1
76   2.033113     2.0     2.0     2.0     2.0  1000.0      2  1000.0      2
77   2.033113     1.0     1.0     1.0     1.0  1000.0      1  1000.0      1
79   2.033113     3.0     3.0     3.0     3.0  1000.0      3  1000.0      3
81   2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
82   2.033113     3.0     3.0     3.0     3.0  1000.0      3  1000.0      3
88   2.033113     1.0     1.0     1.0     1.0  1000.0      1  1000.0      1
92   2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
97   2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
108  2.033113     1.0     1.0     1.0     1.0  1000.0      1  1000.0      1
109  2.033113     3.0     3.0     3.0     3.0  1000.0      3  1000.0      3
110  2.033113     2.0     2.0     2.0     2.0  1000.0      2  1000.0      2
111  2.033113     3.0     3.0     3.0     3.0  1000.0      3  1000.0      3
113  2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
125  2.033113     1.0     1.0     1.0     1.0  1000.0      1  1000.0      1
127  2.033113     2.0     2.0     2.0     2.0  1000.0      2  1000.0      2
128  2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
130  2.033113     3.0     3.0     3.0     3.0  1000.0      3  1000.0      3
131  2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
137  2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
146  2.033113     2.0     2.0     2.0     2.0  1000.0      2  1000.0      2
150  2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
153  2.033113     1.0     1.0     1.0     1.0  1000.0      1  1000.0      1
161  2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
163  2.033113     2.0     2.0     2.0     2.0  1000.0      2  1000.0      2
175  2.033113     1.0     1.0     1.0     1.0  1000.0      1  1000.0      1
177  2.033113     2.0     2.0     2.0     2.0  1000.0      2  1000.0      2
180  2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
183  2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
189  2.033113     3.0     3.0     3.0     3.0  1000.0      3  1000.0      3
190  2.033113  4000.0  4000.0  4000.0  4000.0  1000.0   4000  1000.0   4000
192  2.033113     2.0     2.0     2.0     2.0  1000.0      2  1000.0      2
197  2.033113     2.0     2.0     2.0     2.0  1000.0      2  1000.0      2

      col-9
5    1000.0
13   1000.0
19   1000.0
20   1000.0
21   1000.0
23   1000.0
26   1000.0
29   1000.0
32   1000.0
39   1000.0
50   1000.0
52   1000.0
54   1000.0
56   1000.0
60   1000.0
72   1000.0
74   1000.0
76   1000.0
77   1000.0
79   1000.0
81   1000.0
82   1000.0
88   1000.0
92   1000.0
97   1000.0
108  1000.0
109  1000.0
110  1000.0
111  1000.0
113  1000.0
125  1000.0
127  1000.0
128  1000.0
130  1000.0
131  1000.0
137  1000.0
146  1000.0
150  1000.0
153  1000.0
161  1000.0
163  1000.0
175  1000.0
177  1000.0
180  1000.0
183  1000.0
189  1000.0
190  1000.0
192  1000.0
197  1000.0
Empty DataFrame
Columns: [col-0, col-1, col-2, col-3, col-4, col-5, col-6, col-7, col-8, col-9]
Index: []
int64
Empty DataFrame
Columns: [col-0, col-1, col-2, col-3, col-4, col-5, col-6, col-7, col-8, col-9]
Index: []
Empty DataFrame
Columns: [col-0, col-1, col-2, col-3, col-4, col-5, col-6, col-7, col-8, col-9]
Index: []
float64
        col-0   col-1   col-2   col-3   col-4     col-5   col-6   col-7  \
5    2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
13   2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
19   2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
20   2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
21   2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  1000.0
23   2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  1000.0
26   2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  1000.0
29   2.033113     3.0     3.0     3.0     3.0  2.033113     3.0  1000.0
32   2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  1000.0
39   2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  1000.0
50   2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  1000.0
52   2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
54   2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
56   2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  1000.0
60   2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  1000.0
72   2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  1000.0
74   2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  1000.0
76   2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  1000.0
77   2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  1000.0
79   2.033113     3.0     3.0     3.0     3.0  2.033113     3.0  1000.0
81   2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
82   2.033113     3.0     3.0     3.0     3.0  2.033113     3.0  1000.0
88   2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  1000.0
92   2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
97   2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
108  2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  1000.0
109  2.033113     3.0     3.0     3.0     3.0  2.033113     3.0  1000.0
110  2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  1000.0
111  2.033113     3.0     3.0     3.0     3.0  2.033113     3.0  1000.0
113  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
125  2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  1000.0
127  2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  1000.0
128  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
130  2.033113     3.0     3.0     3.0     3.0  2.033113     3.0  1000.0
131  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
137  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
146  2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  1000.0
150  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
153  2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  1000.0
161  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
163  2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  1000.0
175  2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  1000.0
177  2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  1000.0
180  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
183  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
189  2.033113     3.0     3.0     3.0     3.0  2.033113     3.0  1000.0
190  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  1000.0
192  2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  1000.0
197  2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  1000.0

     col-8   col-9
5     4000  1000.0
13    4000  1000.0
19    4000  1000.0
20    4000  1000.0
21       2  1000.0
23       2  1000.0
26       2  1000.0
29       3  1000.0
32       2  1000.0
39       1  1000.0
50       2  1000.0
52    4000  1000.0
54    4000  1000.0
56       2  1000.0
60       1  1000.0
72       1  1000.0
74       1  1000.0
76       2  1000.0
77       1  1000.0
79       3  1000.0
81    4000  1000.0
82       3  1000.0
88       1  1000.0
92    4000  1000.0
97    4000  1000.0
108      1  1000.0
109      3  1000.0
110      2  1000.0
111      3  1000.0
113   4000  1000.0
125      1  1000.0
127      2  1000.0
128   4000  1000.0
130      3  1000.0
131   4000  1000.0
137   4000  1000.0
146      2  1000.0
150   4000  1000.0
153      1  1000.0
161   4000  1000.0
163      2  1000.0
175      1  1000.0
177      2  1000.0
180   4000  1000.0
183   4000  1000.0
189      3  1000.0
190   4000  1000.0
192      2  1000.0
197      2  1000.0
Empty DataFrame
Columns: [col-0, col-1, col-2, col-3, col-4, col-5, col-6, col-7, col-8, col-9]
Index: []
int64
Empty DataFrame
Columns: [col-0, col-1, col-2, col-3, col-4, col-5, col-6, col-7, col-8, col-9]
Index: []
Empty DataFrame
Columns: [col-0, col-1, col-2, col-3, col-4, col-5, col-6, col-7, col-8, col-9]
Index: []
float64
        col-0   col-1   col-2   col-3   col-4     col-5   col-6     col-7  \
5    2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
13   2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
19   2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
20   2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
21   2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  2.033113
23   2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  2.033113
26   2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  2.033113
29   2.033113     3.0     3.0     3.0     3.0  2.033113     3.0  2.033113
32   2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  2.033113
39   2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  2.033113
50   2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  2.033113
52   2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
54   2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
56   2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  2.033113
60   2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  2.033113
72   2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  2.033113
74   2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  2.033113
76   2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  2.033113
77   2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  2.033113
79   2.033113     3.0     3.0     3.0     3.0  2.033113     3.0  2.033113
81   2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
82   2.033113     3.0     3.0     3.0     3.0  2.033113     3.0  2.033113
88   2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  2.033113
92   2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
97   2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
108  2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  2.033113
109  2.033113     3.0     3.0     3.0     3.0  2.033113     3.0  2.033113
110  2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  2.033113
111  2.033113     3.0     3.0     3.0     3.0  2.033113     3.0  2.033113
113  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
125  2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  2.033113
127  2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  2.033113
128  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
130  2.033113     3.0     3.0     3.0     3.0  2.033113     3.0  2.033113
131  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
137  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
146  2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  2.033113
150  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
153  2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  2.033113
161  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
163  2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  2.033113
175  2.033113     1.0     1.0     1.0     1.0  2.033113     1.0  2.033113
177  2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  2.033113
180  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
183  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
189  2.033113     3.0     3.0     3.0     3.0  2.033113     3.0  2.033113
190  2.033113  4000.0  4000.0  4000.0  4000.0  2.033113  4000.0  2.033113
192  2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  2.033113
197  2.033113     2.0     2.0     2.0     2.0  2.033113     2.0  2.033113

      col-8   col-9
5    4000.0  1000.0
13   4000.0  1000.0
19   4000.0  1000.0
20   4000.0  1000.0
21      2.0  1000.0
23      2.0  1000.0
26      2.0  1000.0
29      3.0  1000.0
32      2.0  1000.0
39      1.0  1000.0
50      2.0  1000.0
52   4000.0  1000.0
54   4000.0  1000.0
56      2.0  1000.0
60      1.0  1000.0
72      1.0  1000.0
74      1.0  1000.0
76      2.0  1000.0
77      1.0  1000.0
79      3.0  1000.0
81   4000.0  1000.0
82      3.0  1000.0
88      1.0  1000.0
92   4000.0  1000.0
97   4000.0  1000.0
108     1.0  1000.0
109     3.0  1000.0
110     2.0  1000.0
111     3.0  1000.0
113  4000.0  1000.0
125     1.0  1000.0
127     2.0  1000.0
128  4000.0  1000.0
130     3.0  1000.0
131  4000.0  1000.0
137  4000.0  1000.0
146     2.0  1000.0
150  4000.0  1000.0
153     1.0  1000.0
161  4000.0  1000.0
163     2.0  1000.0
175     1.0  1000.0
177     2.0  1000.0
180  4000.0  1000.0
183  4000.0  1000.0
189     3.0  1000.0
190  4000.0  1000.0
192     2.0  1000.0
197     2.0  1000.0
Empty DataFrame
Columns: [col-0, col-1, col-2, col-3, col-4, col-5, col-6, col-7, col-8, col-9]
Index: []

C:\Users\Admin\AppData\Local\Temp\ipykernel_10704\2739958752.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1121.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[c] >= upper) | (df[c] <= lower),c] = np.mean(df.loc[(df[c] < upper) & (df[c] > lower),c])
C:\Users\Admin\AppData\Local\Temp\ipykernel_10704\2739958752.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1121.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[c] >= upper) | (df[c] <= lower),c] = np.mean(df.loc[(df[c] < upper) & (df[c] > lower),c])
C:\Users\Admin\AppData\Local\Temp\ipykernel_10704\2739958752.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1121.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[c] >= upper) | (df[c] <= lower),c] = np.mean(df.loc[(df[c] < upper) & (df[c] > lower),c])
C:\Users\Admin\AppData\Local\Temp\ipykernel_10704\2739958752.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1121.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[c] >= upper) | (df[c] <= lower),c] = np.mean(df.loc[(df[c] < upper) & (df[c] > lower),c])
C:\Users\Admin\AppData\Local\Temp\ipykernel_10704\2739958752.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1121.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[c] >= upper) | (df[c] <= lower),c] = np.mean(df.loc[(df[c] < upper) & (df[c] > lower),c])
C:\Users\Admin\AppData\Local\Temp\ipykernel_10704\2739958752.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1121.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[c] >= upper) | (df[c] <= lower),c] = np.mean(df.loc[(df[c] < upper) & (df[c] > lower),c])

In [152]:
df

,col-0,col-1,col-2,col-3,col-4,col-5,col-6,col-7,col-8,col-9
0,1.000000,1.0,1.0,1.0,1.0,1.000000,1.0,1.000000,1.0,1.000000
1,3.000000,3.0,3.0,3.0,3.0,3.000000,3.0,3.000000,3.0,3.000000
2,3.000000,1.0,1.0,1.0,1.0,3.000000,1.0,3.000000,1.0,3.000000
3,3.000000,3.0,3.0,3.0,3.0,3.000000,3.0,3.000000,3.0,3.000000
4,2.000000,1.0,1.0,1.0,1.0,2.000000,1.0,2.000000,1.0,2.000000
...,...,...,...,...,...,...,...,...,...,...
195,3.000000,1.0,1.0,1.0,1.0,3.000000,1.0,3.000000,1.0,3.000000
196,2.000000,2.0,2.0,2.0,2.0,2.000000,2.0,2.000000,2.0,2.000000
197,2.033113,2.0,2.0,2.0,2.0,2.033113,2.0,2.033113,2.0,2.033113
198,3.000000,1.0,1.0,1.0,1.0,3.000000,1.0,3.000000,1.0,3.000000
199,2.000000,2.0,2.0,2.0,2.0,2.000000,2.0,2.000000,2.0,2.000000

In [125]:
for c in df.columns:
    print(df[c].dtypes)
    if df[c].dtypes == 'float64' or df[c].dtypes == 'int64':
        # df.loc[df[c].isna(),c] = df.loc[df[c].isna(),c].apply(lambda x : np.mean(df.loc[~df[c].isna(),c]))
        # df.loc[df[c].isna(),c] = 
        df.loc[df[c].isna(),c] = np.mean(df.loc[~df[c].isna(),c])
    else:
    #     df.loc[df[c].isna(),c] = df.loc[df[c].isna(),c].apply(lambda x : np.mean(df.loc[~df[c].isna(),c]))
        df = df.loc[~df[c].isna()]

int64
float64
int64
float64
int64
object
float64
float64
int64
object

C:\Users\Admin\AppData\Local\Temp\ipykernel_10704\1273955856.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.35' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df[c].isna(),c] = np.mean(df.loc[~df[c].isna(),c])
C:\Users\Admin\AppData\Local\Temp\ipykernel_10704\1273955856.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.35' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df[c].isna(),c] = np.mean(df.loc[~df[c].isna(),c])
C:\Users\Admin\AppData\Local\Temp\ipykernel_10704\1273955856.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.35' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df[c].isna(),c] = np.mean(df.loc[~df[c].isna(),c])
C:\Users\Admin\AppData\Local\Temp\ipykernel_10704\1273955856.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.2666666666666666' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df[c].isna(),c] = np.mean(df.loc[~df[c].isna(),c])

In [126]:
df

    col-0  col-1  col-2  col-3  col-4 col-5     col-6     col-7  col-8 col-9
0     1.0    2.0    1.0    2.0    1.0     C  1.888889  1.888889    1.0     C
2     2.0    2.0    2.0    2.0    2.0     B  2.000000  2.000000    2.0     B
4     4.0    1.0    4.0    1.0    4.0     C  1.000000  1.000000    4.0     C
5     2.0    2.0    2.0    2.0    2.0     A  1.888889  1.888889    2.0     A
6     2.0    3.0    2.0    3.0    2.0     A  3.000000  3.000000    2.0     A
7     1.0    2.0    1.0    2.0    1.0     B  1.888889  1.888889    1.0     B
8     4.0    2.0    4.0    2.0    4.0     B  1.888889  1.888889    4.0     B
11    3.0    2.0    3.0    2.0    3.0     B  2.000000  2.000000    3.0     B
12    2.0    2.0    2.0    2.0    2.0     A  2.000000  2.000000    2.0     A
13    4.0    3.0    4.0    3.0    4.0     A  3.000000  3.000000    4.0     A
15    1.0    2.0    1.0    2.0    1.0     A  2.000000  2.000000    1.0     A
16    1.0    2.0    1.0    2.0    1.0     B  1.888889  1.888889    1.0     B
17    2.0    1.0    2.0    1.0    2.0     A  1.000000  1.000000    2.0     A
18    1.0    1.0    1.0    1.0    1.0     B  1.000000  1.000000    1.0     B
19    4.0    2.0    4.0    2.0    4.0     A  1.888889  1.888889    4.0     A

In [163]:
le = LabelEncoder()
# Encode labels in column 'species'. 
df['target']= le.fit_transform(df['target'])

In [165]:
df['target'].unique()

array([0, 1, 2], dtype=int64)

In [7]:
indep_cols = [c for c in df.columns if c not in ['target']]
x = df[indep_cols]
y = df['target']

In [9]:
xtr,xts,ytr,yts = train_test_split(x, y, test_size=0.2, random_state=123)
pca = PCA(n_components=2)
pc_xtr = pca.fit_transform(xtr)
pc_xts = pca.transform(xts)

In [ ]:
df = pd.DataFrame(pc_xtr).concat(pc_xts)

In [7]:
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

In [8]:
df['target'].unique()

array([0, 1, 2])

In [9]:
import tkinter as tk
from tkinter import filedialog
import pickle

In [12]:
root = tk.Tk()
root.withdraw()

''

In [13]:
file_path = filedialog.asksaveasfilename(defaultextension=".pkl", 
                                         filetypes=[("Pickle files", "*.pkl"), ("All files", "*.*")],
                                         title="Save model")

In [14]:
if file_path:
    with open(file_path, 'wb') as file:
        pickle.dump(model, file)
    print(f"Model saved to {file_path}")
else:
    print("Save cancelled.")

Save cancelled.

In [10]:
import pickle
# Specify the filename of the saved model
filename = r'C:\Users\Admin\Documents\books\num_model_1.pkl'

# Load the model from the file
with open(filename, 'rb') as file:
    loaded_model = pickle.load(file)

# Now you can use the loaded model
print("Model loaded successfully.")
# Assuming the model is a scikit-learn model, you can make predictions
sample_data = [[0,4,9]]  # Example input
predictions = loaded_model.predict(sample_data)
print("Predictions:", predictions)

Model loaded successfully.
Predictions: [14.50890302]

In [27]:
regression_models = [
    "LinearRegression", "Ridge", "Lasso", "ElasticNet", "Lars", "LassoLars", "OrthogonalMatchingPursuit",
    "BayesianRidge", "ARDRegression", "HuberRegressor", "PassiveAggressiveRegressor", "RANSACRegressor",
    "TheilSenRegressor", "QuantileRegressor"
]
for r in regression_models:
    v = f'''"{r}":{r},'''
    print(v)

"LinearRegression":LinearRegression,
"Ridge":Ridge,
"Lasso":Lasso,
"ElasticNet":ElasticNet,
"Lars":Lars,
"LassoLars":LassoLars,
"OrthogonalMatchingPursuit":OrthogonalMatchingPursuit,
"BayesianRidge":BayesianRidge,
"ARDRegression":ARDRegression,
"HuberRegressor":HuberRegressor,
"PassiveAggressiveRegressor":PassiveAggressiveRegressor,
"RANSACRegressor":RANSACRegressor,
"TheilSenRegressor":TheilSenRegressor,
"QuantileRegressor":QuantileRegressor,

In [28]:
','.join(regression_models)

'LinearRegression,Ridge,Lasso,ElasticNet,Lars,LassoLars,OrthogonalMatchingPursuit,BayesianRidge,ARDRegression,HuberRegressor,PassiveAggressiveRegressor,RANSACRegressor,TheilSenRegressor,QuantileRegressor'

In [6]:
from sklearn.utils import all_estimators
from sklearn.base import ClassifierMixin

# List all classifiers
classifiers = [estimator for estimator in all_estimators() if issubclass(estimator[1], ClassifierMixin)]

# Print classifier names
print([_ for name, _ in classifiers])

[<class 'sklearn.ensemble._weight_boosting.AdaBoostClassifier'>, <class 'sklearn.ensemble._bagging.BaggingClassifier'>, <class 'sklearn.naive_bayes.BernoulliNB'>, <class 'sklearn.calibration.CalibratedClassifierCV'>, <class 'sklearn.naive_bayes.CategoricalNB'>, <class 'sklearn.multioutput.ClassifierChain'>, <class 'sklearn.naive_bayes.ComplementNB'>, <class 'sklearn.tree._classes.DecisionTreeClassifier'>, <class 'sklearn.dummy.DummyClassifier'>, <class 'sklearn.tree._classes.ExtraTreeClassifier'>, <class 'sklearn.ensemble._forest.ExtraTreesClassifier'>, <class 'sklearn.model_selection._classification_threshold.FixedThresholdClassifier'>, <class 'sklearn.naive_bayes.GaussianNB'>, <class 'sklearn.gaussian_process._gpc.GaussianProcessClassifier'>, <class 'sklearn.ensemble._gb.GradientBoostingClassifier'>, <class 'sklearn.ensemble._hist_gradient_boosting.gradient_boosting.HistGradientBoostingClassifier'>, <class 'sklearn.neighbors._classification.KNeighborsClassifier'>, <class 'sklearn.semi_supervised._label_propagation.LabelPropagation'>, <class 'sklearn.semi_supervised._label_propagation.LabelSpreading'>, <class 'sklearn.discriminant_analysis.LinearDiscriminantAnalysis'>, <class 'sklearn.svm._classes.LinearSVC'>, <class 'sklearn.linear_model._logistic.LogisticRegression'>, <class 'sklearn.linear_model._logistic.LogisticRegressionCV'>, <class 'sklearn.neural_network._multilayer_perceptron.MLPClassifier'>, <class 'sklearn.multioutput.MultiOutputClassifier'>, <class 'sklearn.naive_bayes.MultinomialNB'>, <class 'sklearn.neighbors._nearest_centroid.NearestCentroid'>, <class 'sklearn.svm._classes.NuSVC'>, <class 'sklearn.multiclass.OneVsOneClassifier'>, <class 'sklearn.multiclass.OneVsRestClassifier'>, <class 'sklearn.multiclass.OutputCodeClassifier'>, <class 'sklearn.linear_model._passive_aggressive.PassiveAggressiveClassifier'>, <class 'sklearn.linear_model._perceptron.Perceptron'>, <class 'sklearn.discriminant_analysis.QuadraticDiscriminantAnalysis'>, <class 'sklearn.neighbors._classification.RadiusNeighborsClassifier'>, <class 'sklearn.ensemble._forest.RandomForestClassifier'>, <class 'sklearn.linear_model._ridge.RidgeClassifier'>, <class 'sklearn.linear_model._ridge.RidgeClassifierCV'>, <class 'sklearn.linear_model._stochastic_gradient.SGDClassifier'>, <class 'sklearn.svm._classes.SVC'>, <class 'sklearn.ensemble._stacking.StackingClassifier'>, <class 'sklearn.model_selection._classification_threshold.TunedThresholdClassifierCV'>, <class 'sklearn.ensemble._voting.VotingClassifier'>]

In [21]:

ls = ['AdaBoostClassifier', 'BaggingClassifier', 'BernoulliNB', 'CalibratedClassifierCV', 'CategoricalNB', 'ClassifierChain', 'ComplementNB', 'DecisionTreeClassifier', 'DummyClassifier', 'ExtraTreeClassifier', 'ExtraTreesClassifier', 'FixedThresholdClassifier', 'GaussianNB', 'GaussianProcessClassifier', 'GradientBoostingClassifier', 'HistGradientBoostingClassifier', 'KNeighborsClassifier', 'LabelPropagation', 'LabelSpreading', 'LinearDiscriminantAnalysis', 'LinearSVC', 'LogisticRegression', 'LogisticRegressionCV', 'MLPClassifier', 'MultiOutputClassifier', 'MultinomialNB', 'NearestCentroid', 'NuSVC', 'OneVsOneClassifier', 'OneVsRestClassifier', 'OutputCodeClassifier', 'PassiveAggressiveClassifier', 'Perceptron', 'QuadraticDiscriminantAnalysis', 'RadiusNeighborsClassifier', 'RandomForestClassifier', 'RidgeClassifier', 'RidgeClassifierCV', 'SGDClassifier', 'SVC', 'StackingClassifier', 'TunedThresholdClassifierCV', 'VotingClassifier']

In [25]:
','.join(ls)

'AdaBoostClassifier,BaggingClassifier,BernoulliNB,CalibratedClassifierCV,CategoricalNB,ClassifierChain,ComplementNB,DecisionTreeClassifier,DummyClassifier,ExtraTreeClassifier,ExtraTreesClassifier,FixedThresholdClassifier,GaussianNB,GaussianProcessClassifier,GradientBoostingClassifier,HistGradientBoostingClassifier,KNeighborsClassifier,LabelPropagation,LabelSpreading,LinearDiscriminantAnalysis,LinearSVC,LogisticRegression,LogisticRegressionCV,MLPClassifier,MultiOutputClassifier,MultinomialNB,NearestCentroid,NuSVC,OneVsOneClassifier,OneVsRestClassifier,OutputCodeClassifier,PassiveAggressiveClassifier,Perceptron,QuadraticDiscriminantAnalysis,RadiusNeighborsClassifier,RandomForestClassifier,RidgeClassifier,RidgeClassifierCV,SGDClassifier,SVC,StackingClassifier,TunedThresholdClassifierCV,VotingClassifier'

In [26]:
for name, _ in classifiers:
    mod = str(_).replace('<','').replace('>','').replace("'","").replace('class ','')
    # print(mod)
    mls = mod.split('.')
    # v = f'''"{r}":linear_model,'''
    # print(v)
    # v = f'''"{mls[-1]}":"{'.'.join(mls[:-1])}",'''
    v = f'''"{mls[-1]}":{mls[-1]},'''
    print(v)

"AdaBoostClassifier":AdaBoostClassifier,
"BaggingClassifier":BaggingClassifier,
"BernoulliNB":BernoulliNB,
"CalibratedClassifierCV":CalibratedClassifierCV,
"CategoricalNB":CategoricalNB,
"ClassifierChain":ClassifierChain,
"ComplementNB":ComplementNB,
"DecisionTreeClassifier":DecisionTreeClassifier,
"DummyClassifier":DummyClassifier,
"ExtraTreeClassifier":ExtraTreeClassifier,
"ExtraTreesClassifier":ExtraTreesClassifier,
"FixedThresholdClassifier":FixedThresholdClassifier,
"GaussianNB":GaussianNB,
"GaussianProcessClassifier":GaussianProcessClassifier,
"GradientBoostingClassifier":GradientBoostingClassifier,
"HistGradientBoostingClassifier":HistGradientBoostingClassifier,
"KNeighborsClassifier":KNeighborsClassifier,
"LabelPropagation":LabelPropagation,
"LabelSpreading":LabelSpreading,
"LinearDiscriminantAnalysis":LinearDiscriminantAnalysis,
"LinearSVC":LinearSVC,
"LogisticRegression":LogisticRegression,
"LogisticRegressionCV":LogisticRegressionCV,
"MLPClassifier":MLPClassifier,
"MultiOutputClassifier":MultiOutputClassifier,
"MultinomialNB":MultinomialNB,
"NearestCentroid":NearestCentroid,
"NuSVC":NuSVC,
"OneVsOneClassifier":OneVsOneClassifier,
"OneVsRestClassifier":OneVsRestClassifier,
"OutputCodeClassifier":OutputCodeClassifier,
"PassiveAggressiveClassifier":PassiveAggressiveClassifier,
"Perceptron":Perceptron,
"QuadraticDiscriminantAnalysis":QuadraticDiscriminantAnalysis,
"RadiusNeighborsClassifier":RadiusNeighborsClassifier,
"RandomForestClassifier":RandomForestClassifier,
"RidgeClassifier":RidgeClassifier,
"RidgeClassifierCV":RidgeClassifierCV,
"SGDClassifier":SGDClassifier,
"SVC":SVC,
"StackingClassifier":StackingClassifier,
"TunedThresholdClassifierCV":TunedThresholdClassifierCV,
"VotingClassifier":VotingClassifier,

In [ ]:
from sklearn.ensemble._weight_boosting import AdaBoostClassifier

In [10]:
import sklearn

classification_models = {
"AdaBoostClassifier":"sklearn.ensemble._weight_boosting",
"BaggingClassifier":"sklearn.ensemble._bagging",
"BernoulliNB":"sklearn.naive_bayes",
"CalibratedClassifierCV":"sklearn.calibration",
"CategoricalNB":"sklearn.naive_bayes",
"ClassifierChain":"sklearn.multioutput",
"ComplementNB":"sklearn.naive_bayes",
"DecisionTreeClassifier":"sklearn.tree._classes",
"DummyClassifier":"sklearn.dummy",
"ExtraTreeClassifier":"sklearn.tree._classes",
"ExtraTreesClassifier":"sklearn.ensemble._forest",
"FixedThresholdClassifier":"sklearn.model_selection._classification_threshold",
"GaussianNB":"sklearn.naive_bayes",
"GaussianProcessClassifier":"sklearn.gaussian_process._gpc",
"GradientBoostingClassifier":"sklearn.ensemble._gb",
"HistGradientBoostingClassifier":"sklearn.ensemble._hist_gradient_boosting.gradient_boosting",
"KNeighborsClassifier":"sklearn.neighbors._classification",
"LabelPropagation":"sklearn.semi_supervised._label_propagation",
"LabelSpreading":"sklearn.semi_supervised._label_propagation",
"LinearDiscriminantAnalysis":"sklearn.discriminant_analysis",
"LinearSVC":"sklearn.svm._classes",
"LogisticRegression":"sklearn.linear_model._logistic",
"LogisticRegressionCV":"sklearn.linear_model._logistic",
"MLPClassifier":"sklearn.neural_network._multilayer_perceptron",
"MultiOutputClassifier":"sklearn.multioutput",
"MultinomialNB":"sklearn.naive_bayes",
"NearestCentroid":"sklearn.neighbors._nearest_centroid",
"NuSVC":"sklearn.svm._classes",
"OneVsOneClassifier":"sklearn.multiclass",
"OneVsRestClassifier":"sklearn.multiclass",
"OutputCodeClassifier":"sklearn.multiclass",
"PassiveAggressiveClassifier":"sklearn.linear_model._passive_aggressive",
"Perceptron":"sklearn.linear_model._perceptron",
"QuadraticDiscriminantAnalysis":"sklearn.discriminant_analysis",
"RadiusNeighborsClassifier":"sklearn.neighbors._classification",
"RandomForestClassifier":"sklearn.ensemble._forest",
"RidgeClassifier":"sklearn.linear_model._ridge",
"RidgeClassifierCV":"sklearn.linear_model._ridge",
"SGDClassifier":"sklearn.linear_model._stochastic_gradient",
"SVC":"sklearn.svm._classes",
"StackingClassifier":"sklearn.ensemble._stacking",
"TunedThresholdClassifierCV":"sklearn.model_selection._classification_threshold",
"VotingClassifier":"sklearn.ensemble._voting"
}

In [ ]:
dc = {}
for c in classification_models.keys():
    v = f'''from {classification_models[c]} import {c}'''
    if classification_models[c] not in dc.keys():
        dc[classification_models[c]] = [c]
    else:
        dc[classification_models[c]].append(c)

In [17]:
for k in dc.keys():
    v = f'''from {k} import {','.join(dc[k])}'''
    print(v)

from sklearn.ensemble._weight_boosting import AdaBoostClassifier
from sklearn.ensemble._bagging import BaggingClassifier
from sklearn.naive_bayes import BernoulliNB,CategoricalNB,ComplementNB,GaussianNB,MultinomialNB
from sklearn.calibration import CalibratedClassifierCV
from sklearn.multioutput import ClassifierChain,MultiOutputClassifier
from sklearn.tree._classes import DecisionTreeClassifier,ExtraTreeClassifier
from sklearn.dummy import DummyClassifier
from sklearn.ensemble._forest import ExtraTreesClassifier,RandomForestClassifier
from sklearn.model_selection._classification_threshold import FixedThresholdClassifier,TunedThresholdClassifierCV
from sklearn.gaussian_process._gpc import GaussianProcessClassifier
from sklearn.ensemble._gb import GradientBoostingClassifier
from sklearn.ensemble._hist_gradient_boosting.gradient_boosting import HistGradientBoostingClassifier
from sklearn.neighbors._classification import KNeighborsClassifier,RadiusNeighborsClassifier
from sklearn.semi_supervised._label_propagation import LabelPropagation,LabelSpreading
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis,QuadraticDiscriminantAnalysis
from sklearn.svm._classes import LinearSVC,NuSVC,SVC
from sklearn.linear_model._logistic import LogisticRegression,LogisticRegressionCV
from sklearn.neural_network._multilayer_perceptron import MLPClassifier
from sklearn.neighbors._nearest_centroid import NearestCentroid
from sklearn.multiclass import OneVsOneClassifier,OneVsRestClassifier,OutputCodeClassifier
from sklearn.linear_model._passive_aggressive import PassiveAggressiveClassifier
from sklearn.linear_model._perceptron import Perceptron
from sklearn.linear_model._ridge import RidgeClassifier,RidgeClassifierCV
from sklearn.linear_model._stochastic_gradient import SGDClassifier
from sklearn.ensemble._stacking import StackingClassifier
from sklearn.ensemble._voting import VotingClassifier

In [1]:
from sample_pkg import dc

In [3]:
dc.values

In [7]:
results = list(dict())

In [14]:
import random
import pandas as pd
import string

In [15]:
for i in range(10):
    results.append({
                        "Model->"+random.choice(string.ascii_lowercase)+"&"+"Train_score->"+"B"+"&"+"Test_score->"+"B": "AAAAAAA",
                        "Training Score":random.choice(range(5))
                    })

In [19]:
results

[{'Model->A&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 2},
 {'Model->A&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 2},
 {'Model->A&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 2},
 {'Model->A&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 4},
 {'Model->A&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 2},
 {'Model->A&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 1},
 {'Model->A&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 1},
 {'Model->A&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 0},
 {'Model->A&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 1},
 {'Model->A&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 0},
 {'Model->i&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 2},
 {'Model->b&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 0},
 {'Model->d&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 1},
 {'Model->s&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 3},
 {'Model->p&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 2},
 {'Model->i&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 3},
 {'Model->t&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 3},
 {'Model->i&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 2},
 {'Model->s&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 4},
 {'Model->w&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 2}]

In [25]:
lsdc = sorted(results,key=lambda x:x['Training Score'],reverse=True)[:5]

In [45]:
[i[list(i.keys())[0]] for i in lsdc]

['AAAAAAA', 'AAAAAAA', 'AAAAAAA', 'AAAAAAA', 'AAAAAAA']

In [46]:
lsdc

[{'Model->A&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 4},
 {'Model->s&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 4},
 {'Model->s&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 3},
 {'Model->i&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 3},
 {'Model->t&Train_score->B&Test_score->B': 'AAAAAAA', 'Training Score': 3}]

In [ ]:
[str(list(i.values()) for i in lsdc]

[['AAAAAAA', 4],
 ['AAAAAAA', 4],
 ['AAAAAAA', 3],
 ['AAAAAAA', 3],
 ['AAAAAAA', 3]]

In [55]:
import os

In [56]:
os.getcwd()

'c:\\Users\\Admin\\Documents\\PROJECT_MCA\\ModelPilot\\notebooks'