In [2]:
from sklearn import datasets
import pandas as pd

In [4]:
datasets

In [14]:
a = datasets.load_wine()
df = pd.DataFrame()

In [11]:
a.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names'])

In [15]:
df[a['feature_names']] = a['data']

In [18]:
df['target'] = a['target']

In [20]:
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

In [24]:
# Use dir() to get all attributes of the sklearn.datasets module
dataset_functions = dir(datasets)

# Filter functions that start with "load_" or "fetch_"
dataset_functions = [f for f in dataset_functions if f.startswith("load_") or f.startswith("fetch_")]

# Display the filtered dataset functions
print("Available Datasets in sklearn.datasets:")
for func in dataset_functions:
    print(f"{func}()")

Available Datasets in sklearn.datasets:
fetch_20newsgroups()
fetch_20newsgroups_vectorized()
fetch_california_housing()
fetch_covtype()
fetch_kddcup99()
fetch_lfw_pairs()
fetch_lfw_people()
fetch_olivetti_faces()
fetch_openml()
fetch_rcv1()
fetch_species_distributions()
load_breast_cancer()
load_diabetes()
load_digits()
load_files()
load_iris()
load_linnerud()
load_sample_image()
load_sample_images()
load_svmlight_file()
load_svmlight_files()
load_wine()

In [7]:
data = datasets.load_diabetes()
df = pd.DataFrame()

In [8]:
data.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

In [9]:
#extract independent variables
df[data['feature_names']] = data['data']
#extract dependent variables
df['target'] = data['target']

In [10]:
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,57.0

In [24]:
from random import randint,choice

In [14]:
random.randrange(0, 100, 1)

63

In [17]:
random.sample(1,1)

TypeError: Population must be a sequence.  For dicts or sets, use sorted(d).

In [18]:
def generate_random_numbers(min_value, max_value, length):
    return [randint(min_value, max_value) for _ in range(length)]

In [22]:

df = pd.DataFrame()
df['col1'] = pd.DataFrame(generate_random_numbers(0,100,20))

In [23]:
df

    col1
0     14
1     43
2     82
3     20
4     19
5     76
6     88
7     16
8     72
9     73
10     9
11    84
12     2
13    52
14    64
15    73
16    21
17    51
18    56
19    16

In [26]:
def generate_random_classes(length,class_length):
    #generate randomly distributed classes based on the row count
    strings = [f'class_{_}' for _ in range(class_length)]
    return [choice(strings) for _ in range(length)]

In [27]:
generate_random_classes(100,3
)

['class_2',
 'class_2',
 'class_2',
 'class_0',
 'class_1',
 'class_1',
 'class_0',
 'class_0',
 'class_1',
 'class_0',
 'class_2',
 'class_0',
 'class_1',
 'class_0',
 'class_2',
 'class_0',
 'class_1',
 'class_0',
 'class_1',
 'class_0',
 'class_0',
 'class_2',
 'class_2',
 'class_2',
 'class_1',
 'class_0',
 'class_0',
 'class_2',
 'class_1',
 'class_2',
 'class_1',
 'class_1',
 'class_1',
 'class_1',
 'class_0',
 'class_1',
 'class_0',
 'class_0',
 'class_2',
 'class_0',
 'class_1',
 'class_1',
 'class_1',
 'class_1',
 'class_0',
 'class_2',
 'class_2',
 'class_2',
 'class_1',
 'class_0',
 'class_1',
 'class_0',
 'class_1',
 'class_0',
 'class_2',
 'class_0',
 'class_1',
 'class_0',
 'class_1',
 'class_1',
 'class_1',
 'class_2',
 'class_0',
 'class_1',
 'class_0',
 'class_0',
 'class_0',
 'class_2',
 'class_2',
 'class_2',
 'class_2',
 'class_0',
 'class_1',
 'class_2',
 'class_1',
 'class_1',
 'class_1',
 'class_0',
 'class_0',
 'class_2',
 'class_2',
 'class_2',
 'class_1',
 'class_0',
 'class_1',
 'class_2',
 'class_1',
 'class_2',
 'class_1',
 'class_0',
 'class_2',
 'class_1',
 'class_1',
 'class_2',
 'class_0',
 'class_2',
 'class_0',
 'class_1',
 'class_0',
 'class_2']